@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050608;
  color: #f4f4f5;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
